body{
    font-family: 'Arima', cursive;
font-family: 'Encode Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Playfair Display', serif;
font-family: 'Tiro Bangla', serif;
}
h1{
    font-size: 50px;
}
.style-text{
    color: tomato;
}
.link-button{
   text-decoration: none;
   background-color: lightsalmon;
   color: white;
   padding: 10px 40px;
   border-radius: 15px;
   font-weight: 700px;
}
.flexs{
    display: flex;
    width: 80%;
    margin-top: 70px;
    padding-left: 50px;
}
.flexs img{
    width: 80%;
    margin-left: 150px;
}
.flexible{
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    margin-top: 50px;
    
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
   
}
.half-width img{
    width: 100%;
}

.recipy-area{
    display: flex;
    margin-top: 10%;
}
.recipy-area div{
   box-shadow: 10px 10px 40px gray;
   height: 90%;
   border-radius: 30px;

}
.recipy-item1{
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    
}
.recipy-item1 img{
   width: 100%;

}
.recipy-item2{
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
   

}
.recipy-item2 img{
    width: 100%;
}
h3{
    font-size: 40px;
}
.container{
    display: flex;
    box-shadow: 10px 10px 40px gray;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    border-radius: 15px;
}
.container div{
    margin-left: 20%;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 10%;
}
.center{
    margin-left: 25%;
    margin-right: 25%;
}
.text{
    margin-top: 10%;
}