body{
    font-family: 'Arima', cursive;
font-family: 'Encode Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Playfair Display', serif;
font-family: 'Tiro Bangla', serif;
}
h1{
    font-size: 50px;
}
.style-text{
    color: tomato;
}
.link-button{
   text-decoration: none;
   background-color: lightsalmon;
   color: white;
   padding: 10px 40px;
   border-radius: 15px;
   font-weight: 700px;
}
.flexs{
    display: flex;
    width: 80%;
    margin-top: 70px;
    padding-left: 50px;
}
.flexs img{
    width: 80%;
    margin-left: 150px;
}
.flexible{
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    margin-top: 50px;
    
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
   
}
.half-width img{
    width: 100%;
}

.recipy-area{
    display: flex;
}
.recipy-item{
    box-shadow: 10px 10px 30px gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    border-radius: 15px;
    overflow-x: hidden;
    width: 100%;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-right: 15px;
}
.subscribtion{
    display: 
   font-size: 60px;
}
    